@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/fonts/icomoon.eot?7kkyc2');
    src:  url('../fonts/fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('../fonts/fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('../fonts/fonts/icomoon.woff?7kkyc2') format('woff'),
    url('../fonts/fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.header {
    position: relative;
    width: 100%;
    height: 141px;
    border-bottom: 2px solid #e3e4e5;
}
.logo {
    position: absolute;
    width: 190px;
    height: 120px;
    overflow: hidden;
}
.logo img {
    display: inline-block;
    padding-top: 5px;
}
.search {
    position: absolute;
    float: left;
    width: 550px;
    height: 36px;
    border: 2px solid #f10215;
    margin-top:30px;
    margin-left: 270px;
}
.search input {
    display: inline-block;
    width: 455px;
    height: 32px;
    margin-left: 5px;
    color: #999999;
    font-size: 12px;
    outline: none;
    border: 0;
}
.search1 {
    float: right;
    width: 58px;
    height: 32px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #f10215;
}
.search1 a img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 6px;
}
.little_search {
    font-size: 12px;
    color: #999999;

}
.little_search ul li {
    float: left;
    padding: 10px 5px;
}
.little_search ul li:hover {
    color: #f10215;
}
.little_search ul li:first-child {
    color: #f10215;
}
.big_search {
    float: left;
    width: 800px;
    margin-top: -10px;
    margin-left: -15px;
    font-size: 15px;
    color: #333333;
}
.big_search ul li {
    float: left;
    padding-top: 20px;
    padding-right: 15px;
}
.big_search ul li:hover {
    color: #f10215;
}
.big_search ul li:first-child {
    font-weight: 700;
    color: #f10215;
}
.big_search ul li:nth-child(2){
    font-weight: 700;
    color: #f10215;
}

.shoppingcar {
    float: left;
    width: 132px;
    height: 36px;
    margin-left: 840px;
    border: 1px solid #e3e4e5;
    margin-top: 30px;
    font-size: 12px;
    color: #f10215;
}
.shoppingcar img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 7px 10px;
}
.car {
    float: left;
    margin-top: 8px;
}
.erweima {
    float: right;
    width: 80px;
    height: 80px;
    margin-top: 5px;
    background-color: white;
    border: 2px solid #e3e4e5;
}
.erweima img {
    padding: 8px;
}

.classify {
    height: 470px;
    /*background-color: #f8f8f8;*/
}
.left1 {
    float: left;
    width: 190px;
    height: 470px;
    margin-top: 10px;
    padding: 8px 10px;
    background-color: #f8f8f8;
}

.left1 ul li {
    margin-left: 5px;
    line-height: 24px;
}
.left1 ul li>a {
    font-size: 14px;
    padding: 1px 3px;
    color: #333333;
}
.left1 ul li>a:hover {
    color: #f10215;
}

#playBox {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width:590px;
    height:470px;
    background:#333;
    position:relative;
    overflow:hidden;
}
#playBox .oUlplay {
    width:99999px;
    position:absolute;
    left:0;
    top:0;
}
#playBox .oUlplay li {
    float:left;
}
#playBox .smalltitle {
    width:500px;
    height:10px;
    position:absolute;
    bottom:15px;
    z-index:10
}
#playBox .smalltitle ul {
    width:120px;
    margin:0 auto;
}
#playBox .smalltitle ul li {
    width:10px;
    height:10px;
    margin:0 5px;
    border-radius:10px;
    background:#ffffff;
    float:left;
    overflow:hidden;
    cursor:pointer;
}
#playBox .smalltitle .thistitle {
    background:#69aaec;
}
#playBox .pre {
    cursor:pointer;
    width:25px;
    height:45px;
    position:absolute;
    top:150px;
    left:10px;
    z-index:10;
    text-align:center
}
#playBox .next {
    cursor:pointer;
    width:25px;
    height:45px;
    position:absolute;
    top:150px;
    right:10px;
    z-index:10;
    text-align:center
}

.right1 {
    margin-left: 10px;
    float: left;
    width: 190px;
}
.right1 .tu a>img {
    float: left;
    width: 190px;
    height: 150px;
    margin-top: 10px;
}
.right2 {
    float: right;
    width: 190px;
    height: 470px;
    margin-top: 10px;
    padding: 8px 10px;
    background-color: #f8f8f8;
}
.one {
    width: 190px;
    height: 102px;
}
.one img {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    border-radius: 20px;
    vertical-align: middle;
}
.one ul {
    float: left;
    margin-top: 10px;
}
.one ul li>a {
    margin:0 8px;
    font-size: 12px;
    color: #999999;
}
.one ul li>a:hover {
    color: #f10215;
}
.line1 {
    width: 120px;
    border-bottom: 1px solid #e8e8e8;
    margin-left: 26px;
    margin-top: -2px;
}
.fuli {
    float: left;
    width: 70px;
    height: 25px;
    background-color: #f10215;;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    margin-top: -38px;
    margin-left: 5px;
}
.huiyuan {
    float: left;
    width: 70px;
    height: 25px;
    background-color: #363634;
    border-radius: 10px;
    color: #e5d790;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    margin-top: -38px;
    margin-left: 80px;
}
.kuaibao {
    font-size: 14px;
    float: left;
    font-weight: 700;
    color: #363634;
}
.more {
    font-size: 14px;
    float: right;
    color: #999999;
}

.tehui {
    width: 160px;
    height: 130px;
    margin-top: 10px;
}
.tehui ul {
    float: left;
    width: 160px;
    height: 110px;
    margin-top: 10px;
}
.tehui ul li {
    margin-bottom: 5px;

}
.tehui ul li a>span {
    float: left;
    display: inline-block;
    line-height: 18px;
    width: 35px;
    height: 16px;
    margin-right: 5px;
    text-align: center;
    font-size: 12px;
    background-color: rgba(225,37,27,.08);
    color: #f10215;
}
.tehui ul li a {
    float: right;
    margin-bottom: 3px;
    font-size: 12px;
    color: #666666;
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tehui ul li:hover>a {
    text-decoration: none;
}
.line2 {
    width: 120px;
    border-bottom: 1px solid #e8e8e8;
    margin-left: 26px;
    margin-top: -18px;
}
.three {
    width: 190px;
    height: 238px;
    border-top:0;
}
.three ul {
    float: left;
}
.three ul li {
    width: 63px;
    height: 55px;
    float: left;
}
.jieshi {
    text-align: center;
    font-size: 12px;
    margin-left: -20px;
    color:#333333;
}

.jieshi:hover{
    color: #f10215;
}
.three .t {
    font-size: 20px;
    text-align: center;
    margin-top: -13px;
    margin-left: -20px;
}
.three .t:hover {
    color: #f10215;
}
.iconshouji {
    font-size: 22px;
    text-align: center;
    margin-top: -15px;
    margin-left: -20px;
    color: dodgerblue;
}
.iconshouji:hover{
    color: #f10215;
}
.huafei {
    margin-top: -5px;
    color: dodgerblue;
    /*content: "\e958";*/
    font-family: icomoon;
}
.jipiao{
    content: "\e9af";
    color: orange;
    font-family: icomoon;
}
.jiudian{
    content: "\e901";
    color: aquamarine;
    font-family: icomoon;
}
.youxi {
    content: "\e916";
    color: orange;
    font-family: icomoon;
}
.jiayouka {
    content: "\e9a9";
    color: aquamarine;
    font-family: icomoon;
}
.huoche {
    content: "\e9b1";
    color: red;
    font-family: icomoon;
}
.zhongchou {
    content: "\e972";
    color: aquamarine;
    font-family: icomoon;
}
.licai {
    content: "\e93b";
    color: dodgerblue;
    font-family: icomoon;
}
.baitiao {
    content: "\e924";
    color: red;
    font-family: icomoon;
}
.dianyingpiao {
    content: "\e913";
    color: red;
    font-family: icomoon;
}
.qiyegou {
    content: "\e903";
    color: dodgerblue;
    font-family: icomoon;
}
.lipinka {
    content: "\e93f";
    color: orange;
    font-family: icomoon;
}
.goods1 {
    margin-top: 40px;
    height: 260px;
}
.miaosha {
    float: left;
    height: 260px;
    width: 190px;
    background-color: #D00000;
}
.jdms {
    text-align: center;
    padding-top: 1px;
    color: white;
    font-weight: 900;
    font-size: 30px;
}
.power {
    text-align: center;
    content: "\e9b5";
    color: white;
    font-weight: 900;
    font-size: 30px;
    margin-top: -10px;
    font-family: icomoon;
}
.jishi {
    line-height: 20px;
    text-align: center;
    padding-left: 9px;
    margin-top: 15px;
    color: white;
}
.jishi span:first-child {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}
.jishi span:last-child{
    font-size: 16px;
}
.shijian ul {
    margin-left: 30px;
    height: 40px;
    float: left;
}
.shijian ul li {
    text-align: center;
    margin:18px 3px auto;
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.shijian ul li:nth-child(odd) {
    float: left;
    width: 30px;
    height: 30px;
    background-color: #303030;
}

.miaosha_goods {
    float: left;
    width: 800px;
    height: 260px;
    background-color: #f8f8f8;
}
.miaosha_goods ul li {
    width: 200px;
    height: 260px;
    padding: 20px 30px;
    float: left;
}
.miaosha_tu {
    width: 140px;
    height: 140px;
    float: left;
}
.miaosha_jieshi {
    float: left;
    font-size: 12px;
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 20px;
}

.miaosha_xianjia {
    position: relative;
    float: left;
    width: 90px;
    height: 100%;
    background-color: red;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.miaosha_xianjia i {
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    border-color:transparent white red transparent;
    border-style: solid;
    border-width: 22px 10px 0 0;

}
.old {
    text-align: center;
    line-height: 24px;
    font-size:12px;
    color: #999999;
    text-decoration: line-through;
}
.price {
    width: 150px;
    height: 24px;
    border:1px solid red;
    margin: 190px auto;
}
.shuxian {
    border-right: 1px solid #e8e8e8;
    height: 170px;
    margin-top: -385px;
    margin-left: 168px;
}
.g:hover {
    color: #f10215;
}
.iphone_miaosha {
    float: right;
    width: 200px;
    height: 260px;
    background-color: #f8f8f8;

}
.iphone_tu {
    width: 120px;
    height: 120px;
    padding:20px 30px;
}
.shangou {
    float: left;
    width: 70px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #f10215;
    color: #f10215;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    margin-top: -12px;
    margin-left: 65px;
}
.shangou:after{
    content: "\ea50";
    font-size: 10px;
    font-family: icomoon;
}
.shangou:hover {
    background-color: #f10215;
    color: white;
}
.goods2 {
    margin-top: 20px;
    height: 340px;
}
.m {
    width: 590px;
    height: 340px;
    background-color: #f8f8f8;
}
.meiritejia {
    float: left;
    margin-right: 10px;
}
.pinpaishangou {
    float: right;
}
.a {
    float: left;
    font-size: 22px;
    font-weight: 700;
    color:black;
    margin-top: 15px;
    margin-left: 20px;
}
.a:after{
    content: "\ea42";
    font-family: icomoon;
    font-size: 20px;
    font-weight: 400;
    color: #f10215;
    padding-left: 5px;
}
.jingxuan {
    float: right;
}
.jingxuan ul li{
    float: left;
    margin-top: 15px;
    margin-right: 30px;
}
.jingxuan ul li>a{
    padding:10px 0;
    font-size: 14px;
    color: #999999;
}
.jingxuan ul li>a:hover {
    color: #f10215;
}
.dijia {
    width: 170px;
    height: 263px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 67px;
    margin-left: 16px;
}
dijia :hover {
    color: #f10215;
}
.dijia108 {
    width: 90px;
    height: 24px;
    background-color: orange;
    text-align: center;
    color: white;
    line-height: 24px;
    font-size: 12px;
    font-weight: 600;
}
.dijia_shouji img {
    width: 120px;
    height: 120px;
    margin-top: 27px;
}
.dijia_intro {
    width: 154px;
    margin-left: 9px;
    margin-top: 10px;
    font-size: 15px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
}
.dijia_yuan {
    margin-top: 5px;
}
.dijia_yuan span:first-child {
    color: #f10215;
    font-size: 18px;
    font-weight: 700;
}
.dijia_yuan span:last-child {
    color: #999999;
    font-size: 12px;
    text-decoration: line-through;

}
.baihuo {
    float: right;
}
.baihuo ul {
    float: left;
    margin-top: -238px;
    margin-left: 170px;
}
.baihuo ul li {
    float: left;
    margin-left: 40px;
    height: 130px;
    width: 160px;
}
.baihuo_tu img {
    float: left;
    width: 84px;
    height: 84px;
    padding-right: 5px;
}
.baihuo_title {
    float: left;
    width: 75px;
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
}
.baihuo_yj {
    font-size: 15px;
    color: #f10215;
    font-weight: 700;
}
.baihuo_xj {
    float: left;
    font-size: 11px;
    color: #999999;
    text-decoration: line-through;
}
.qianggou {
    float: left;
    font-size: 14px;
    color: #666666;
}
.qianggou span {
    color: #f10215;
}
.shangou_jiaju {
    width: 270px;
    height: 265px;
    background-color: #ffffff;
    margin-top: 60px;
    margin-left: 16px;
}
.shangou_jiaju {
    text-align: center;
}
.shangou_logo {
    margin-top: 10px;
}
.shangou_title {
    margin-top: 15px;
    font-weight: 700;
    font-size: 16px;
    color: black;
}
.shangou_jiage {
    font-size: 13px;
    color: #999999;
}
.shangou_tu img{
    margin-top: 20px;
}
.pinpai {
    margin-top: -291px;
    margin-left: 314px;
    width: 300px;
}
.pinpai ul {
    display: flex;
    flex-flow: wrap;
}
.pinpai ul li {
    padding: 15px 10px;
}
.pinpai img {
    width: 100px;
    height: 50px;
}
.pinpai_title {
    font-size: 12px;
    text-align: center;
}
.fengeline {
    border-right: 1px solid #cccccc;
    height: 35px;
    margin-top: -51px;
    margin-left: 120px;
}
.haohuo {
    display: flex;
    flex-flow: wrap;
}
.haowu {
    float: left;
    margin-top: 20px;
    height: 260px;
    width: 190px;
    background-image: url("../images/upload/024cad902388d7f9f52b5a5d4af7c479.png");
}
.yinying {
    width: 160px;
    height: 89px;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom-right-radius: 30px;
    background-color: rgba(0,0,0,0.5);
}
.fxhw {
    display: inline-block;
    margin-top: -20px;
    margin-left: 20px;
    padding-top: 1px;
    color: white;
    font-weight: 900;
    font-size: 30px;
}
.faxian {
    margin-top: -30px;
    margin-left: -5px;
    color: white;
    font-size: 16px;
    text-align: center;
}
.faxian:after{
    content: "\ea42";
    font-family: icomoon;
    font-size: 16px;
    color: white;
    padding-left: 5px;
}
.shangpin_gunbo {
    width: 990px;
    height: 260px;
    margin-left: 210px;
    margin-top: -260px;
    background-color: #f8f8f8;
    overflow: hidden;
}
#container {
    width:990px;
    height:260px;
    position:relative;
    overflow:hidden;
}
#con-ul {
    overflow:hidden;
    position:absolute;
    width:1200px;
    left:0;
    top:0;
}
#con-ul li {
    list-style-type:none;
    margin-top:40px;
    float:left;
    width:200px;
}
#con-ul li img {
    width: 150px;
    height: 150px;
}

.gunbo_sp {
    text-align: left;
    width: 150px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 20px;
}
.teseyouxuan {
    display: flex;
    flex-flow: wrap;
}
.s {
    width: 290px;
    height: 340px;
    background-color: #f8f8f8;
    margin-top: 20px;
    margin-right: 13px;
}
.lingquan {
    margin-right: 0 !important;
}


.shoufa{
    position:relative;
}

.list {
    width:290px;
    height:300px;
    overflow:hidden;
    position:absolute;
    margin-top: 60px;
}
.list li {
    position:absolute;
    top:0;
    left:0;
    list-style:none;
    opacity:0;
    transition:all 0.3s ease-out;
}
.list img {
    width:130px;
    height:130px;
    border:none;
    float:left;
}
.p1 {
    transform:translate3d(-104px,0,0) scale(0.81);
}
.p2 {
    transform:translate3d(0px,0,0) scale(0.81);
    transform-origin:0 50%;
    opacity:0.8 !important;
    z-index:2;
}
.p3 {
    transform:translate3d(104px,0,0) scale(1);
    z-index:3;
    opacity:1 !important;
}
.p4 {
    transform:translate3d(208px,0,0) scale(0.81);
    transform-origin:100% 50%;
    opacity:0.8 !important;
    z-index:2;
}
.list_title {
    overflow: hidden;
    text-overflow: ellipsis;;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    text-align: center;
    width: 130px;
    font-size: 14px;
    margin-top: 150px;
}
.faxian_more {
    font-size: 12px;
    margin-top: 10px;
    color: #999999;
}
.list_jiage {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 700;
    color: #f10215;
}
.paih_fenlei ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin-top: 60px;
}
.paih_fenlei ul li span{
    display: inline-block;
    width: 62px;
    height: 20px;
    text-align: center;
    background-color: #cccccc;
    border-radius: 10px;
    font-size: 12px;
    line-height: 20px;
}
.paih_fenlei ul li span:hover {
    background-color: #f10215;
    color: white;
}
.top1 {
    width: 28.8px;
    height: 40.8px;
    background-repeat: no-repeat;

}
.top1 img {
    width: 100%;
    height: 100%;
    margin-top: 42px;
    margin-left: 20px;
}
.pai1 {
    display: block;
    color: darkgoldenrod;
    font-size: 13px;
    margin-top: -3em;
    margin-left: 21px;
}
.pai2 {
    display: block;
    font-size: 18px;
    color: white;
    margin-left: 24px;
    margin-top: -20px;
}
.iphone1 img{
    width: 70px;
    height: 70px;
    margin-left: 64px;
    margin-top: -17px;
}
.top_name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    width: 140px;
    margin-left: 149px;
    margin-top: -57px;
}
.top_name:hover {
    color: #f10215;
}
