.header {
    position: relative;
    width: 100%;
    height: 141px;
    border-bottom: 2px solid #e3e4e5;
}
.logo {
    position: absolute;
    width: 190px;
    height: 120px;
    overflow: hidden;
}
.logo img {
    display: inline-block;
    padding-top: 5px;
}
.search {
    position: absolute;
    float: left;
    width: 550px;
    height: 36px;
    border: 2px solid #f10215;
    margin-top:30px;
    margin-left: 270px;
}
.search input {
    display: inline-block;
    width: 455px;
    height: 32px;
    margin-left: 5px;
    color: #999999;
    font-size: 12px;
    outline: none;
    border: 0;
}
.search1 {
    float: right;
    width: 58px;
    height: 32px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #f10215;
}
.search1 a img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 6px;
}
.little_search {
    font-size: 12px;
    color: #999999;

}
.little_search ul li {
    float: left;
    padding: 5px 5px;
}
.little_search ul li:first-child {
    color: #f10215;
}
.shoppingcar {
    float: left;
    width: 132px;
    height: 36px;
    margin-left: 840px;
    border: 1px solid #e3e4e5;
    margin-top: 30px;
    font-size: 12px;
    color: #f10215;
}
.shoppingcar img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 7px 10px;
}
.car {
    float: left;
    margin-top: 8px;
}
.erweima {
    float: right;
    width: 80px;
    height: 80px;
    margin-top: 5px;
    background-color: white;
    border: 2px solid #e3e4e5;
}
.erweima img {
    padding: 8px;
}
